/* 
    Created on : 23 Mar, 2022, 9:52:58 AM
    Author     : Bruce Wayne
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto', sans-serif;
  margin: 0;
}

.brand {
    padding: 10px;
    width:100%;
    border-bottom-width: 2px;
    background-color: #000;
    color:#fff;
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
  height: 100%;
  position: fixed; 
  overflow: auto;
  display: inline;
}

.nav-item .nav-link {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

.nav-link:last-child{
  border-bottom: none;
}

.nav-item .nav-link:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: #04AA6D;
  color: white;  
}

.body-content {
    margin-top:20px; 
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
}

.table{
    padding: 12px;
    border: 4px;    
}